---
layout: year-nav
lastModIsToday: true
changeFreq: weekly
priority: 0.9
---

{% assign dancer = pagination.items[0] %}

<script type="application/ld+json">
  {{upcoming.originalQueryResults}}
</script>

<h3 class="page-title">Upcoming events</h3>

<div id="upcoming-events" class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th class="event">Event</th>
      <th class="date">Dates</th>
      <th class="more-information">More info</th>
    </tr>
    </thead>
    <tbody>

    {% assign i = 0 %}

    {% for event in upcoming.data %}

    {% assign m = i | modulo: 2 %}
    <tr class="event-row
            {% if m == "1" %}
    grey-bckgrnd
    {% endif %}
    "
    >
    {% assign i = i | plus: 1 %}
    <td class="event-only">{{event.name}}
      {% if event.location != "" %}
        <span class="flag-icon flag-icon-{{event.location}}"></span>
      {% endif %}

      <span class="kg-url hidden" data-url="{{event.id}}">🔗</span></td>
    <td class="date">
      {% if event.start == event.end %}
        {{event.start}}
      {% else %}
        {{event.start}} - {{event.end}}
      {% endif %}
    </td>
    <td class="more-information">
      {% if event.instagram != "" %}
        <a href="https://instagram.com/{{event.instagram}}">Instagram</a>
      {% endif %}
    </td>
    </tr>
    <tr class="details-sm
      {% if m == "1" %}
        grey-bckgrnd
      {% endif %}
    ">
    <td colspan="2">
      {% if event.start == event.end %}
        {{event.start}}
      {% else %}
        {{event.start}} - {{event.end}}
      {% endif %}
    </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>