<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{site.description}}" />
  <meta name="twitter:card" content="summary" />
<!--  <meta name="twitter:site" content="@flickr" /> -->
  <meta name="twitter:title" content="{{site.title}}" />
  <meta name="twitter:description" content="{{site.description}}" />
  <meta name="twitter:image" content="{{site.baseURL}}/img/logo-square.jpg" />

  <meta name="google-site-verification" content="vvG5nP-D2J550tyGqPUzs9bYIihiTorPs9S8MsYzzMI" />

  <title>{{site.title}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <Link rel="stylesheet" href="/css/flag-icon.min.css">
  <Link rel="stylesheet" href="/css/style.css">

  <!-- favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/16.png">
</head>
<body>

<div class="container">
  <div id="title" class="row">
    <div class="column col-12 text-center">
      <a href="/"><img src="/img/logo.png" alt="logo" id="logo"></a>
    </div>
  </div>

  {{content}}

  <footer class="text-center">
    <p id="footer-links">
      <a href="/privacy-policy">Privacy Policy</a> -
      <a href="/tos">Terms of Service</a> -
      <a href="mailto:dancehallbattle@gmail.com?subject=[missing/incorrect info]">Missing or incorrect info?</a> -
      <a href="mailto:dancehallbattle@gmail.com">Contact</a>
    </p>

    <p id="footer-copy">&copy; 2019 by dancehallbattle.org</p>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="/js/kgurls.js"></script>
</body>
</html>