---
layout: year-nav
pagination:
  data: dancers
  size: 1
  addAllPagesToCollections: true
permalink: /dancer/{{ pagination.items[0].postfix }}/index.html
lastModIsToday: true
changeFreq: weekly
priority: 0.9
---

{% assign dancer = pagination.items[0] %}

<script type="application/ld+json">
  {{dancer.originalQueryResults}}
</script>

<h3 class="page-title">Wins by {{dancer.name}}

  {% if dancer.country != ''%}
  <span class="flag-icon flag-icon-{{dancer.country}}"></span>
  {% endif %}
</h3>

<div id="events" class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th class="event">Event</th>
      <th class="date">Date</th>
      <th class="category">Category</th>
    </tr>
    </thead>
    <tbody>

    {% for year in dancer.years reversed %}

    {% if year != "2019" %}
    <tr id="{{year}}" class="year-row">
      <td colspan="4" class="text-center year">{{year}}
      </td>
    </tr>
    {% endif %}

    {% assign i = 0 %}

    {% for battle in dancer.yearBattleMap[year] %}
    {% assign m = i | modulo: 2 %}
    <tr class="event-row
            {% if m == "1" %}
    grey-bckgrnd
    {% endif %}
    "
    >
    {% assign i = i | plus: 1 %}
    <td class="event-only">{{battle.atEvent.name}} <span class="flag-icon flag-icon-{{battle.atEvent.location}}"></span> <span class="kg-url hidden" data-url="{{battle.atEvent.id}}">🔗</span></td>
    <td class="date">{{battle.date}}</td>
    <td class="category">{{battle.name}}</td>
    </tr>
    <tr class="details-sm
            {% if m == "1" %}
    grey-bckgrnd
    {% endif %}
    ">
    <td colspan="2">{{battle.name}} - {{battle.date}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>