---
layout: year-nav
pagination:
  data: dancers
  size: 1
  addAllPagesToCollections: true
permalink: /dancer/{{ pagination.items[0].postfix }}/index.html
lastModIsToday: true
changeFreq: weekly
priority: 0.9
title: Dancer
---

{% assign dancer = pagination.items[0] %}

<script type="application/ld+json">
  {{dancer.originalQueryResults}}
</script>

<h3 class="page-title">
  {{dancer.name}}

  {% if dancer.country != '(null)'%}
  <span class="flag-icon flag-icon-{{dancer.country}}"></span>
  {% endif %}
</h3>

<p class="dancer-instagram">
  {% if dancer.instagram != "(null)" %}
  Instagram: <a class="instagram" href="https://instagram.com/{{dancer.instagram}}">@{{dancer.instagram}}</a>
  {% endif %}
</p>

<div id="ranks" class="table-responsive">
  <h4>Ranks</h4>

  {% include dancer-ranks-table, ranks: dancer.ranks %}
</div>

<div id="events" class="table-responsive mt-3">
  <h4>Wins</h4>
  {% if dancer.wins %}
    {% include dancer-battle-table, battles: dancer.wins %}
  {% else %}
    <p>This dancer hasn't won any battles yet, or we don't have the information about them.</p>
  {% endif %}
</div>

<div id="judged-battles" class="table-responsive mt-3">
  <h4>Battles judged</h4>
  {% if dancer.judges %}
    {% include dancer-battle-table, battles: dancer.judges %}
  {% else %}
    <p>This dancer hasn't judged any battles yet, or we don't have the information about them.</p>
  {% endif %}
</div>
