---
layout: year-nav
---

<h3 id="country-list-title" class="country-title">Countries</h3>


<!-- 4 countries on 1 row -->
{% for country in countries %}

{% assign mod = forloop.index | modulo: 4 %}

{% if mod == "1" %}
<div class="row pb-5 country-4">
  {% endif %}

  <div class="country-item

  {% if mod == "0" %}
    last-country
  {% endif %}

  col-sm-3">
    <a href="/country/{{country.code}}">
      <div class="card">
        <img class="card-img-top" src="/flags/4x3/{{country.code}}.svg" alt="{{country.country}}">
        <div class="card-block pt-2">
          <p class="card-text text-center">{{country.name}}</p>
        </div>
      </div>
    </a>
  </div>

  {% if mod == "0" or forloop.last %}
</div>
{% endif %}

{% endfor %}