---
layout: year-nav
pagination:
  data: countries
  size: 1
  addAllPagesToCollections: true
permalink: /country/{{ pagination.items[0].code }}/index.html
lastModIsToday: true
changeFreq: weekly
priority: 0.9
---

{% assign country = pagination.items[0] %}
{% assign battles = countryToBattles[country.code] %}
{% assign events = countryToEvents[country.code] %}
{% assign jsonld = countryToJSONLD[country.code] %}

<script type="application/ld+json">
  {{jsonld}}
</script>

<h3 class="page-title">{{country.name}} <span class="flag-icon flag-icon-{{country.code}}"></span> </h3>

{% include winner-country-table with battles %}

{% include country-event-table with events %}